.img-center-index {
	position: relative;
	align-items: center;

	margin-top: 30upx;
}

.walletMoney {
	position: absolute;
	top: 150upx;
	left: 110upx;

	// border: 1upx solid black;
}

.img-bg {
	position: relative;
	z-index: -1;
	margin-top: 0 upx;
	// top: 2.8%;
	// top: 40upx;
	// border: 1upx solid blue;
	// left: 0;
	// right: 0;
	width: 100%;
	height: 678rpx;
}

.displayImg {
	width: 60upx;
	height: 50upx;
	// border: 1upx solid black;
}

.intro-block {
	position: relative;
	flex-direction: row;
	display: flex;

	top: 20rpx;
	// border: 1upx solid red;
}

.intro-text {
	position: relative;
	left: 40rpx;

	// border: 1upx solid blue;
}

.intro-trans {
	align-items: center;
	flex-direction: row;
	position: relative;
	left: 120rpx;
	// top: 20rpx;

	// border: 1upx solid black;
}

.copyID-button {
	font-size: 26upx;
	background-color: white;
	color: black;
	border-radius: 40rpx;
	border: 3upx solid black;
	font-weight: bold;

	top: 8rpx;
}

.intro-trans-img {
	position: relative;
	align-items: center;
	font-size: 0upx;
	display: flex;
	flex-direction: column;

	// border: 1upx solid black;
}

.trans-img {
	width: 80%;
	z-index: -1;
	position: relative;

	// border: 1upx solid blue;
}

.intro-trans-text {
	position: relative;
	font-size: 0upx;

	top: 5rpx;

	// border: 1upx solid red;
}

.button-list {
	display: flex;
	flex-direction: column;
	position: relative;

	top: 45rpx;

	// border: 1upx solid blue;

	align-items: center;
}

.text-walletDetail {
	color: black;
	font-size: 32upx;
	word-break: break-all;
	font-weight: bold;
}

.button-style1 {
	border: 2upx solid #B40404;
	background-color: white;
	color: #B40404;
	font-size: 34upx;
	width: 90%;
}

.button-style2 {
	margin-top: 30rpx;
	margin-bottom: 30rpx;
	background-color: #B40404;
	color: white;
	font-size: 34upx;
	width: 90%;
}

.button-content {
	display: flex;
	flex-direction: row;
	padding-left: 28rpx;
	align-items: center;
	position: relative;

	// border: 1upx solid white;
}

.button-icon {
	width: 45rpx;
	height: 45rpx;
	position: relative;

	margin-right: 10rpx;

	// border: 1upx solid red; 
}

.text-style {
	color: #B40404;
	font-size: 36upx;
	font-weight: bold;
}
